@let characterLocal = character(); @if(characterLocal){
<article class="card-container view">
  <figure>
    <img
      class="character-image"
      [ngSrc]="characterLocal.image"
      [alt]="characterLocal.name"
      width="200"
      height="200"
    />
  </figure>
  <div class="character-info">
    {{ characterLocal.name }} | {{ characterLocal.gender }}
  </div>
  <div class="btn-container">
    <button (click)="removeCharacter(characterLocal.id)">
      Remove Character
    </button>
    <a [routerLink]="['/add-edit-characters/' + characterLocal.id]"
      >Edit Character</a
    >
  </div>
</article>

}
