/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #010101;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
